 body {
  background-color: #ff99cc;
 }
 h1 {
  background-color: #cc33ff;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke:  1.5px  #000000;
  font-family: cursive, serif;

 }
 h2 {
  background-color: #ffccff;
  text-align: center;
 }
 h3 {
  background-color: #ffccff;
 ;
 }
td {
	border: 3px solid #000000;
}
table {
	background-color: #ffffff;
    border-spacing: 0px;
    
   
 
}
h2 {
    font-family: cursive, serif;
}
td {
    font-family: monospace;
}
img {
    align-content: right;
}
.spaltenfarbe {
 background-color:#ffccff ;
}
.spalta {
    background-color:#ffccff ;
}
hr {
    background-color:#ffccff ;
}
.platz {
    width: 40px;
}
.rot {
    background-color: red;
}
.blau {
    background-color: blue;
}
.grün {
    background-color: green;
}
.schwarz {
    background-color: black;
}
.weiß {
    background-color: white;
}
.gelb {
    background-color: yellow;
}
.magenta {
    background-color: magenta;
}
.cyan{
    background-color: cyan;
}
.grau1 {
    background-color: #333333;
}
.grau2 {
    background-color: #666666;
}
.grau3 {
    background-color: #999999;
}
.grau4 {
    background-color: #CCCCCC;
}
img {
    float: right;
    
}
.bild {
    background-color:#ff99cc ;
    
}
.Sz {
    background-color: #ffccff;
}
